.caixa{
  
    
    margin: 50px
    display: flex;
     width: 40vw; 
     height: 40vh;
     
    
    }
    .titulo1{
    font-family: cursive;
    
    
    
    }
    
    
    
    .titulo2{
    
    
        font-family: cursive;
    
    
    }
    .container{
       color: yellow;
        margin-top: 5px;
    }